## gedit temp files
*~

## temp dir for temp files
/tempdir/*

## R script output
*.out

## jekyll built website
/_site/*

## jekyll not-modified log
.jekyll-metadata

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
