---
title: Posts by tags
description: "An archive of posts sorted by tag"
layout: default
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
<p>
{% for tag in tag_words) %}
  <a href="#{{ tag | slugify }}" class="btn btn-info btn-xs">{{ tag }} <span>({{ site.tags[tag] | size }})</span></a>
{% endfor %}
</p>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
<h3 id="{{ this_word | slugify }}">{{ this_word }}</h3>
<ul class="list-unstyled">
  {% for post in site.tags[this_word] %}{% if post.title != null %}
  <li itemscope><span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span> &mdash; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}{% endfor %}
</ul>
{% endunless %}{% endfor %}
