<div class="container">
  <footer>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
          <p><small>
            &copy; {{ site.author}} (2000&ndash;{{ site.time | date: "%Y" }}) under a Creative Commons (<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>) license.
            Last updated on {{ site.time | date: "%Y-%m-%d" }}.
          </small></p>
      </div>
  </div>
  </footer>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
    $("table").addClass("table table-striped table-bordered table-hover table-condensed");
</script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/bootstrap.min.js"></script>
