<!DOCTYPE html>
<html lang="en">
<head>
{% include _head.html %}
</head>
<body>
{% include _navigation.html %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if page.title %}<h1 class="title">{{ page.title }}</h1>{% endif %}
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
<!-- not null category indicates a post, if it is null: we assume page is not a post -->
            {% if page.category != null %}
            <p id="post-meta">
            <small>
            <i class="fa fa-calendar"></i> {{ page.date | date: '%B %d, %Y' }}
            {% if page.tags != null %}<i class="fa fa-tag"></i> {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags.html#{{ tag | slugify }}" class="btn btn-info btn-xs">{{ tag }}</a> {% endfor %}{% endif %}
            </small>
            </p>
            {% endif %}
<!-- content starts here -->
            {{ content }}
<!-- content ends here -->
            {% if page.disqus %}{% include _comments.html %}{% endif %}
        </div>
    </div>
</div>
{% include _footer.html %}
</body>
</html>
